<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <title>Rexteroxy Todo List</title>
</head>

<body>
    <div id="todo-table">
        <form action="/todo" method="Post" id="">
            <input type="text" name="todo" placeholder="Add new event..." required>
            <button type="submit">Add Event</button>
        </form>
        <ul>
            <li>wake up by 5am</li>
            <li>Do Your morning prayer</li>
            <li>Do your morning exercise</li>
        </ul>
    </div>
</body>
</html>